{% extends "base.html" %}
{% block title %}Cancer Hallmarks Analytics Tool{% endblock %}
{% block content %}
    <h1>About the Cancer Hallmarks Analytics Tool</h1>

<p>The Cancer Hallmarks Analytics Tool was developed and is maintained in collaboration between the <a href="http://ltl.mml.cam.ac.uk/">Language Technology Lab at University of Cambridge </a> (UK) and the <a href="http://ki.se/en/imm/">Institute of Environmental Medicine at Karolinska Institutet </a> (Sweden).</p>

<p>In addition to this tool, we share our software code under open licence which can be found here: <a href="https://github.com/cambridgeltl/chat">https://github.com/cambridgeltl/chat</a> </p>

<p>Likewise with our Natural Language processing pipeline and classifier software code, along with our annotated and labelled corpus which can be found here: <a href="https://github.com/cambridgeltl/chat-classifier">https://github.com/cambridgeltl/chat-classifier</a> </p>

<p>We also share our the 2016 baseline of PubMed that has been labelled with Hallmarks of Cancer using CHAT, which can be found <a href="http://chat.lionproject.net/static/pubmed2016_annotated_with_hallmarks.tar.gz">here</a>.</p>
    
{% endblock %}
