{% extends "base.html" %}
{% block title %}Cancer Hallmarks Analytics Tool{% endblock %}
{% block content %}

<h1>Cancer Hallmarks Analytics Tool help</h1>

<p>
The Cancer Hallmarks Analytics Tool (CHAT) allows users to quickly and
easily analyze the strength of association between terms of interest
and the hallmarks of cancer (Hanahan and Weinberg 2011;
<a href="https://www.ncbi.nlm.nih.gov/pubmed/21376230">PubMed</a>,
<a href="http://www.cell.com/cell/pdf/S0092-8674(11)00127-9.pdf">PDF</a>)
in the literature based on a text-mining analysis of 26 million PubMed
abstracts.
</p>

<h2 id="quickstart">Quickstart</h2>

<p>
To analyze the association of any term with the hallmarks of cancer,
simply enter the term into the "Query" text box on the
<a href="/">CHAT homepage</a> and press "Submit".
</p>

<div class="figure">
  <img class="example" src="/static/img/search.png">
  <div class="caption">CHAT query form</div>
</div>

<p>
The resulting screen will show a chart summarising the association
of the query term (below "p53") with the various hallmarks of cancer.
</p>

<div class="figure">
  <img class="example" src="/static/img/search-result.png">
  <div class="caption">CHAT query result</div>
</div>

<h2 id="comparison">Comparison</h2>

<p>
To compare the strength of association between two terms with the
hallmarks of cancer, click on the "Compare" tab on the
<a href="/">CHAT homepage</a>, enter the two terms in the "Query"
text boxes and press "Submit".
</p>

<div class="figure">
  <img class="example" src="/static/img/compare.png">
  <div class="caption">CHAT comparison form</div>
</div>

<p>
CHAT will then show a chart comparing the strength of association
of the two terms (below "Mdm2" and "mTOR") with the hallmarks of cancer.
</p>

<div class="figure">
  <img class="example" src="/static/img/compare-result.png">
  <div class="caption">CHAT comparison result</div>
</div>

<h2 id="metrics">Metrics</h2>

<p>
CHAT supports the following metrics for assessing the strength of
association between a hallmark (<i>h</i>) and a query (<i>q</i>):
</p>

<ul>
  <li><b>count</b>: co-occurrence count <i>c(h,q)</i>, i.e. the
    number of contexts where both <i>h</i> and <i>q</i> occur</li>
  <li><b>cprob</b>: conditional probability of <i>h</i> given <i>q</i>: <i>p(h|q)</i>&nbsp;=&nbsp;<i>p(h,q)/p(q)</i></li>
  <li><b>pmi</b>: pointwise mutual information of <i>h</i> and <i>q</i>: pmi&thinsp;<i>(h,q)</i>&nbsp;=&nbsp;log<sub>2</sub>&thinsp;(<i>p(h,q)/(p(h)p(q))</i>)</li>
  <li><b>npmi</b>: normalized pointwise mutual information of <i>h</i> and <i>q</i>: npmi&thinsp;<i>(h,q)</i>&nbsp;=&nbsp;pmi&thinsp;<i>(h,q)</i>/-log<sub>2</sub>&nbsp;<i>p(h,q)</i></li>
</ul>

<p>
To change the metric to apply, use the <i>Metric</i> selector found
in both the <i>Search</i> and <i>Compare</i> tabs as well as on the top
of their respective result pages. For interpretation of the metrics, see
the following sections.
</p>

<h3 id="count">Count</h3>

<p>
The value <i>c(h,q)</i> of the <b>count</b> metric for a hallmark
<i>h</i> and a query <i>q</i> is simply the number of contexts where
both <i>h</i> and <i>q</i> occur.  While the count metric is easy to
understand, direct comparisons of count values can be misleading
because raw co-occurrence counts do not normalize over the number of
times that <i>h</i> and <i>q</i> occur overall.
</p>

<p>
For example, if hallmark <i>h<sub>1</sub></i> is discussed in the
literature more often than <i>h<sub>2</sub></i> (e.g. <i>Invasion and
metastasis</i> compared to <i>Replicative immortality</i>), then a
query <i>q</i> may be more strongly (statistically) associated with
<i>h<sub>2</sub></i> than <i>h<sub>1</sub></i> even if
<i>c(h<sub>1</sub>,q)</i> is greater than <i>c(h<sub>2</sub>,q)</i>:
the larger co-occurrence count may simply reflect <i>h<sub>1</sub></i>
being more frequent.
</p>

<p>
Similarly, for two queries <i>q<sub>1</sub></i>
and <i>q<sub>2</sub></i>, if <i>q<sub>1</sub></i> occurs more
frequently in the literature than <i>q<sub>2</sub></i> (e.g.
"<a href="http://pubmed.com/?term=TP53">TP53</a>" vs.
"<a href="http://pubmed.com/?term=BRCA2">BRCA2</a>"),
<i>c(h,q<sub>1</sub>)</i> &gt; <i>c(h,q<sub>2</sub>)</i> does not
necessarily indicate a stronger association of hallmark <i>h</i>
with <i>q<sub>1</sub></i> than with <i>q<sub>2</sub></i>.
</p>

<h3 id="conditional-probability">Conditional probability</h3>

<p>
The conditional probability <i>p(h|q)</i> of a hallmark <i>h</i>
occurring in a context where a query term <i>q</i> has occurred is
defined as the co-occurrence count <i>c(h,q)</i> divided by the
overall count of the query term <i>c(q)</i>.
</p>

<p>
Unlike <b>count</b> (see above), the <b>cprob</b> metric takes into
account the overall frequency of the query term, normalizing by this
value. This allows more meaningful comparison of <b>cprob</b>
values across queries where the terms are not discussed in the
literature with similar frequency.
</p>

<p>
For example,
<a href="/compare?q=Akt&q=autotaxin&measure=cprob">this comparison</a>
shows that "<a href="http://pubmed.com/?term=autotaxin">autotaxin</a>"
has a much higher <b>cprob</b> value with <i>Invasion and
metastasis</i> than "<a href="http://pubmed.com/?term=Akt">Akt</a>"
does, despite the latter much more common term having a higher
co-occurrence count with this hallmark (see
<a href="/compare?q=Akt&q=autotaxin&measure=count">here</a>)
</p>

<h3 id="pointwise-mutual-information">Pointwise mutual information</h3>

<p>
Pointwise mutual information <b>pmi</b>&thinsp;<i>(h,q)</i> is an
information-theoretic metric of association strength that measures how
often a hallmark <i>h</i> and a query <i>q</i> occur together compared
to how often they would be expected to co-occur if their occurrences
were independent (i.e. if they only co-occurred at random).
</p>

<p>
<b>pmi</b>&thinsp;<i>(h,q)</i> is defined as base-2 logarithm (measuring
information in bits) of of the probability of co-occurrence
<i>p(h,q)</i> divided by the product of the occurrence probabilities
<i>p(h)p(q)</i>. These probabilities are derived directly from the
counts (see above).
</p>

<p>
<b>pmi</b> accounts for the overall frequency of both the query and
the hallmark and its values are interpretable in that
<b>pmi</b>&thinsp;<i>(h,q)</i> = 0 when <i>p</i> and <i>q</i> are
independent, &gt; 0 when they co-occur more often than expected from
random co-occurrence (and &lt; 0 when less).
</p>

<h2 id="chart-types">Chart types</h2>

<p>
CHAT supports a variety of chart types for visualizing results, including
bar, polar and radar charts. To change the chart type, use the
<i>Chart</i> selector found in the <i>Search</i> tab and its result page.
(For comparisons, only column charts are supported.)
</p>

<h2 id="hallmark-hierarchy">Hallmark hierarchy</h2>

<p>
CHAT organizes cancer-related concepts using a taxonomy based on
the hallmarks of cancer (Hanahan and Weinberg 2000; 2011) and supports two
different granularities of analysis:
</p>

<ul>
  <li><b>top</b>: the ten top-level classes of the taxonomy, corresponding to the ten hallmarks of Hanahan and Weinberg (2011)</li>
  <li><b>full</b>: the full taxonomy of 37 classes (see <a href="hallmarks">hallmarks</a>)</li>
</ul>

<p>
The <b>full</b> hallmarks provide finer granularity while the <b>top</b>
hallmarks feature greater reliability to their higher frequency.
</p>

<p>
To change the granularity, use the <i>Hallmarks</i> selector found in
the <i>Search</i> and <i>Compare</i> tabs and on the result pages.
</p>

<h2 id="documents-and-annotations">Documents and annotations</h2>

<p>
To "drill down" from a chart view to the documents and annotations
serving as its source data, click on the relevant part of the chart.
</p>

<div class="figure">
  <img class="example" src="/static/img/drilldown.png">
  <div class="caption">Drilling down to "p53" and "resisting cell death"</div>
</div>

<p>
For example, after querying for "p53", clicking on the segment of the
chart denoting "resisting cell death" shows summaries of PubMed
documents relating to the association of p53 with resisting cell
death.
</p>

<div class="figure">
  <img class="example" src="/static/img/p53-and-cell-death.png">
  <div class="caption">Document summaries for "p53" and "resisting cell death"</div>
</div>

<p>
Clicking further on any of the titles gives a visualization of all
hallmark annotations for that PubMed document.
</p>

<div class="figure">
  <img class="example" src="/static/img/annotations.png">
  <div class="caption">Annotation view for document (PMID 11574421)</div>
</div>

{% endblock %}
